:host ::ng-deep .p-password input {
    width: 100%;
    padding: 1rem;
}

:host ::ng-deep .pi-eye {
    transform: scale(1.6);
    margin-right: 1rem;
    color: var(--primary-color) !important;
}

:host ::ng-deep .pi-eye-slash {
    transform: scale(1.6);
    margin-right: 1rem;
    color: var(--primary-color) !important;
}

.register-frame-out{
    border-radius:56px; 
    padding:0.3rem; 
    background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
}

.register-frame-in{
    border-radius:53px; 
    background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));
}